<section class="account">
  <div class="account-card">
    <h1><%= title %></h1>

    <%- messages() %>

    <form class="account-form" method="post" action="/account/login">
      <label for="account_email">Email:</label>
      <input type="email" name="account_email" id="account_email" required>

      <label for="account_password">Password:</label>

      <span class="password-requirements">
        Password must be at least 12 characters long and include
        one uppercase letter, one number, and one special character.
      </span>
      
      <input type="password" name="account_password" id="account_password" required 
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9]).{12,}$">

      <button class="btn-primary" type="submit">Login</button>
    </form>

    <p class="account-footer">
      No account? <a href="/account/register">Sign-up</a>
    </p>
  </div>
</section>
